.position-modal {
  position: absolute;
  border: 3px solid #ffffff;
  padding: 10px;
  background-color: #ff0000;
  color: #000;
}

.location {
  position: absolute;
  margin: 0 auto;
  max-width: 60vw;
  max-height: 80vw;
  color: #000;
  background-color: #ff0000;
  background-size: cover;
}

.modal-content {
  position: fixed;
  max-width: 90%;
  max-height: 75%;
  opacity: .7;
  background-color: #fff;
}

.checkoutbtn {
  color: #fff;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.changepass {
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
}
